<!doctype html>

    <head>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="">

        <title>API Información de Estados, Municipios y Colonias</title>
    </head>

    <body bgcolor="">

        <font size="6" color="#df7644" face="Tahoma">

        API Información de Estados, Municipios y Colonias

        </font><br><br>

        <nav class="menu">

            <ul>

                <li><a href="/home/">

                <font size="6" color="#1f6dfd" face="Comics Sans CM">

                Inicio</font></a></li>

                <li><a href="/info/api/v0/estado/"><font size="6" color="#1f6dfd" face="Comics Sans CM">

                Estados</font></a></li>

                <li><a href="/info/api/v0/municipio/"><font size="6" color="#1f6dfd" face="Comics Sans CM">

                Municipios</font></a></li>

                <li><a href="/info/api/v0/colonia/"><font size="6" color="#1f6dfd" face="Comics Sans CM">

                Colonias</font></a></li>

            </ul>

        </nav>

    </body>
</html>